FRONTEND_PORT=4200
GATEWAY_PORT=5080
API_PORT=5081
SQLSERVER_PORT=1433
SQLSERVER_SA_PASSWORD=AcademicReg!2026
KAFKA_PORT=19092
EMAIL_ENABLED=false
EMAIL_FROM=no-reply@academic-registration.local
EMAIL_FROM_NAME=Academic Registration
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_ENABLE_SSL=true
EMAIL_REQUIRE_AUTHENTICATION=true
